
@tailwind base;
@tailwind components;
@tailwind utilities;




.title
{
  @apply text-xl/9 font-bold
}


.title2
{
  @apply text-3xl/9 font-bold
}


.title3
{
  @apply text-5xl/9 font-bold
}

.label
{
  @apply text-sm font-semibold
}


.input
{
  @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-secondaryBackground sm:text-sm/6
}


.button
{
  @apply flex w-full justify-center rounded-md bg-secondaryBackground px-3 py-1.5 text-sm/6 font-semibold text-white shadow-md hover:bg-secondaryBackground focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondaryBackground disabled:cursor-not-allowed cursor-pointer disabled:bg-secondaryBackground/80 
}

.buttonDelete
{
  @apply flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-md hover:bg-red-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondaryBackground disabled:cursor-not-allowed cursor-pointer disabled:bg-secondaryBackground/80 
}

.buttonCancel
{
  @apply flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm/6 font-semibold text-white shadow-md hover:bg-black focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed cursor-pointer disabled:bg-black/80 
}


.tabler
{
  @apply table-auto overflow-x-scroll md:mx-auto 
  /* scrollbar-track-slate-100 scrollbar-thumb-slate-300 dark:scrollbar-track-slate-700 
  dark:scrollbar-thumb-slate-500  */
}


.loader
{
  @apply block animate-pulse bg-slate-300
}

.paginate
{
  @apply border border-primaryBackground bg-primaryBackground text-white text-xl flex items-center justify-center h-10 w-10 cursor-pointer 
}

.paginate-right
{
  @apply border border-primaryBackground bg-primaryBackground text-white text-xl flex items-center justify-center h-10 w-10 cursor-pointer  rounded-r-md
}

.paginate-left
{
  @apply border border-primaryBackground bg-primaryBackground text-white text-xl flex items-center justify-center h-10 w-10 cursor-pointer  rounded-l-md
}

.paginate-active
{
  @apply font-bold border border-primaryBackground bg-secondaryBackground flex items-center justify-center h-10 w-10 cursor-pointer  text-white
}

/* ************************* LOADING  START ************************* */

.dots-container {

    @apply flex items-center justify-center h-full w-full mb-1
    

}

  
.dot {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #695441;
    animation: wabiro 1.5s infinite ease-in-out;
  }
  

.dot:last-child {
    margin-right: 0;
  }
  

.dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  

.dot:nth-child(2) {
    animation-delay: -0.1s;
  }

  
.dot:nth-child(3) {
    animation-delay: 0.1s;
}
  

  @keyframes wabiro {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: #695441;
    }
  
    50% {
      transform: scale(1.2);
      background-color: #b3d4fc;
      box-shadow: #695441;
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

/* ************************* LOADING  END ************************* */
